@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  
  color: #fefae0;
  position: static;


}

body {
  position: static;
  margin: 0;
  box-sizing: border-box;
}

#app{
  width: 100vw;
  height: 100vh;
}

#home_top {
  background-image: url("home_images/background_top.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  z-index: 0;

}

#home_bottom {
  background-image: url("home_images/background_bottom.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

 z-index: 5;
}


@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
  
}
#cloud1 {animation: bounce 6s infinite;}
#cloud2 {animation: bounce 8s infinite;}
#cloud3 {animation: bounce 5s infinite;}
#cloud4 {animation: bounce 4s infinite;}
#cloud5 {animation: bounce 7s infinite;}
#cloud6 {animation: bounce 5.5s infinite;}
#cloud7 {animation: bounce 7s infinite;}

@keyframes bikeRide {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(110vw);
  }
}
#bike {
  animation: bikeRide 15s linear infinite;
}

#education li, #skills li {
  width: 50%;
}

#projects {
  -webkit-box-shadow: inset 0px 0px 23px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 23px -1px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 30px -8px rgba(0,0,0,0.7);
}

@media only screen and (max-width: 570px){
  #education li, #skills li {
    width: 100%;
  }
}

