@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BokutehPro";
  src: url("/fonts/BokutehPro.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SeuratPro";
  src: url("/fonts/SeuratPro.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;

  position: static;

  width: 100vw;
  height: 100vh;
  background-color: #e0dbbc;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: #d4c9a1;
  border-radius: 4rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #b5a96d;
  border-radius: 4rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a49653;
  cursor: pointer;
}

.tab-active {
  box-shadow: 0px 0px 45px 10px #8d8241 inset;
  -webkit-box-shadow: 0px 0px 45px 10px #8d8241 inset;
  -moz-box-shadow: 0px 0px 45px 10px #8d8241 inset;

  border: 2px solid #544e27;
}
